{% include "layout/adminheader.html" %}
{% block body %}

            <div class="content-page">
                <div class="content">

                    <!-- Start Content-->
                    <div class="container-fluid">
                        <div class="row page-title">
                            <div class="col-md-12">
                                <nav aria-label="breadcrumb" class="float-right mt-1">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="{{url_for("routes.admin_dashboard") }}">Dashboard</a></li>
                                        <li class="breadcrumb-item"><a href="{{url_for("routes.admin_viewAccounts") }}">FTP Accounts</a></li>
                                        <li class="breadcrumb-item active">FTP Server Info</li>
                                    </ol>
                                </nav>
                                <h4 class="mb-1 mt-0">Server Info</h4>
                            </div>
                        </div>
                        <div class="card">
                                <div class="card-body">
                                    <div class="text-center mt-3">
                                        <h5 class="mt-2 mb-0 font-weight-bold">FTP Details</h5>
                                        <h6 class="text-muted font-weight-bold">Server IP:</h6>{{ mainhost }}
                                        <h6 class="text-muted font-weight-bold mt-2 mb-0">Server Adress:</h6> ftp.yourdomain.com
                                        <h6 class="text-muted font-weight-bold mt-2 mb-0">Server Port:</h6> 21
                                        <h6 class="text-muted font-weight-bold mt-2 mb-0">FTP Login Page:</h6> <a href="http://{{ mainhost }}/webftp/">Web FTP</a>
                                </div>
                            </div><!-- end card -->
                        </div>
                        </div>
                        <!-- end row -->



{% include "layout/adminfooter.html" %}
{% endblock %}