{% include "layout/adminheader.html" %}
{% block body %}
    <!-- ============================================================== -->
            <!-- Start Page Content here -->
            <!-- ============================================================== -->

            <div class="content-page">
                <div class="content">

                    <!-- Start Content-->
                    <div class="container-fluid">
                        <div class="row page-title">
                            <div class="col-md-12">
                                <nav aria-label="breadcrumb" class="float-right mt-1">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="{{ url_for("routes.admin_dashboard") }}">Dashboard</a></li>
                                        <li class="breadcrumb-item"><a href="{{url_for("routes.admin_viewAccounts") }}">FTP Accounts</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">View Account</li>
                                    </ol>
                                </nav>
                                <h4 class="mb-1 mt-0">Account List</h4>
                            </div>
                        </div>
                        {% for message in get_flashed_messages() %}
                                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                        {{ message }}
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                </div>
                        {% endfor %}
                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="header-title mt-0 mb-1">Accounts List</h4>
                                        <p class="sub-header">
                                            Use this to View FTP Accounts.
                                        </p>

                                        <table id="basic-datatable" class="table nowrap">
                                            <thead>
                                                <tr>
                                                    <th>User's Name</th>
                                                    <th>User's Email</th>
                                                    <th>FTP User Name</th>
                                                    <th>FTP Directory</th>
                                                    <th>Manage</th>
                                                </tr>
                                            </thead>


                                            <tbody>
                                            {% if results %}
                                                  {% for record in results %}
                                                    <tr>
                                                        <td>{{record[10]}}</td>
                                                        <td>{{record[8]}}</td>
                                                        <td>{{record[3]}}</td>
                                                        <td><a href="">{{record[2]}}</a></td>
                                                        <td><a href="{{ url_for('routes.admin_deleteAccount', AccID=record[0]) }}" class="custom-confirm-link" data-confirmation="Are you sure you want to remove this?"><button type="button" class="btn btn-info btn-sm" data-bb-example-key="prompt-email">Delete</button></a> <a href="{{ url_for('routes.admin_updateAccountPass', AccID=record[0]) }}"><button type="button" class="btn btn-warning btn-sm">Change Password</button></a></td>
                                                    </tr>
                                                  {% endfor %}
                                            {% endif %}


                                            </tbody>
                                        </table>

                                    </div> <!-- end card body-->
                                </div> <!-- end card -->
                            </div><!-- end col-->
                        </div>
                        <!-- end row-->
                        <!-- end row-->
                    </div> <!-- container-fluid -->

                </div> <!-- content -->
{% include "layout/adminfooter.html" %}
{% endblock %}
