{% include "layout/header.html" %}
{% block body %}

            <div class="content-page">
                <div class="content">

                    <!-- Start Content-->
                    <div class="container-fluid">
                        <div class="row page-title">
                            <div class="col-md-12">
                                <nav aria-label="breadcrumb" class="float-right mt-1">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="{{url_for("routes.user_dashboard") }}">Dashboard</a></li>
                                        <li class="breadcrumb-item"><a href="{{url_for("routes.user_viewDatabases") }}">MYSQL Databases</a></li>
                                        <li class="breadcrumb-item active">Add new Databases</li>
                                    </ol>
                                </nav>
                                <h4 class="mb-1 mt-0">New DataBase</h4>
                            </div>
                        </div>


                            <div class="">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="header-title mt-0 mb-1">Add New Databases</h4>
                                        <p class="sub-header">
                                            Type Database name to Add Database. Database name Should be Unique.
                                        </p>

                                        {% if msg %}
                                    <div class="alert alert-{{ msg.error }} alert-dismissible fade show" role="alert">
                                        {{ msg.message }}
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                </div>
                                {% endif %}
                                        <form method="POST" role="form" class="parsley-examples">
                                            <div class="form-group row">
                                                <label for="Email" class="col-md-2 col-form-label">Database Name<span class="text-danger">*</span></label>
                                                <div class="col-md-6" style="display: inline-flex;">
                                                    <span class="align-self-center"><input type="text" required class="form-control"
                                                            id="databaseName" pattern="[^\s]+" name="databaseName" value="" placeholder="Database Name"></span>
                                                </div>
                                            </div>


                                            <div class="form-group row">
                                                <div class="col-md-8 offset-md-4">
                                                    <button type="submit" class="btn btn-primary mr-1">
                                                        Add Database
                                                    </button>
                                                    <button type="reset"
                                                            class="btn btn-secondary">
                                                        Cancel
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div> <!-- end card -->

                            </div> <!-- end col -->
                        </div>
                        <!-- end row -->



{% include "layout/footer.html" %}
{% endblock %}