

                <!-- Footer Start -->
                <footer class="footer">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12">
                                2022 &copy; SASPanel . All Rights Reserved. Crafted with <i class='uil uil-heart text-danger font-size-12'></i> by <a href="https://github.com/mayazhanif/SASPanel" target="_blank">SAS Developers</a>
                            </div>
                        </div>
                    </div>
                </footer>
                <!-- end Footer -->

            </div>

        </div>


        <!-- Vendor js -->
        <script src="/assets/js/vendor.min.js"></script>

        <!-- optional plugins -->
        <script src="/assets/libs/moment/moment.min.js"></script>
        <script src="/assets/libs/apexcharts/apexcharts.min.js"></script>
        <script src="/assets/libs/flatpickr/flatpickr.min.js"></script>
        <!-- Plugin js-->
        <script src="/assets/libs/parsleyjs/parsley.min.js"></script>
        <script src="/assets/libs/terminal/jquery.terminal.min.js"></script>
        <script src="/assets/js/bootbox/bootbox.all.min.js"></script>

        <!-- Validation init js-->
        <script src="/assets/js/pages/form-validation.init.js"></script>
        <!-- datatable js -->
        <script src="/assets/libs/datatables/jquery.dataTables.min.js"></script>
        <script src="/assets/libs/datatables/dataTables.bootstrap4.min.js"></script>
        <script src="/assets/libs/datatables/dataTables.responsive.min.js"></script>
        <script src="/assets/libs/datatables/responsive.bootstrap4.min.js"></script>

        <script src="/assets/libs/datatables/dataTables.buttons.min.js"></script>
        <script src="/assets/libs/datatables/buttons.bootstrap4.min.js"></script>
        <script src="/assets/libs/datatables/buttons.html5.min.js"></script>
        <script src="/assets/libs/datatables/buttons.flash.min.js"></script>
        <script src="/assets/libs/datatables/buttons.print.min.js"></script>

        <script src="/assets/libs/datatables/dataTables.keyTable.min.js"></script>
        <script src="/assets/libs/datatables/dataTables.select.min.js"></script>

        <!-- Datatables init -->
        <script src="/assets/js/pages/datatables.init.js"></script>
        <!-- page js -->
        <script src="/assets/js/pages/dashboard.init.js"></script>

        <!-- App js -->
        <script src="/assets/js/app.min.js"></script>
        <script src="/assets/js/pages/bootstrap-select.min.js"></script>

<script type="text/javascript">
    var $ = jQuery;
    $('.custom-confirm-link').click(function(e){

        //  get link and its confirmation message
        var link                = $(this);
        var confirmationmessage = link.data('confirmation');
        var address             = link.attr('href');

        e.preventDefault();

        bootbox.confirm({
            title   : 'Confirm',
            message : confirmationmessage,
            buttons : {
                confirm : {
                    label : 'Yes',
                    className: 'btn-success'
                },
                cancel : {
                    label : 'No',
                    className : 'btn-danger'
                }
            },
            callback : function (result) {
                if (result)
                {
                    //  simulate click the link
                    window.location.href = address;
                }
            }
        });
    });
</script>
    </body>
</html>