{% include "layout/adminheader.html" %}
{% block body %}
            <div class="content-page">
                <div class="content">

                    <!-- Start Content-->
                    <div class="container-fluid">
                        <div class="row page-title">
                            <div class="col-md-12">
                                <nav aria-label="breadcrumb" class="float-right mt-1">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="{{ url_for("routes.admin_dashboard") }}">Dashboard</a></li>
                                        <li class="breadcrumb-item active" aria-current="page"><a href="#">Cron Jobs</a></li>
                                    </ol>
                                </nav>
                                <h4 class="mb-1 mt-0">Cron Jobs</h4>
                            </div>
                        </div>
                            <div class="">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="header-title mt-0 mb-1">Add New Cron Job</h4>
                                        <p class="sub-header">
                                            Use <a href="https://crontab.guru/">CronTab Guru</a> to learn how cron jobs Work.
                                        </p>
                        {% for message in get_flashed_messages() %}
                                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                        {{ message }}
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                </div>
                        {% endfor %}
                                    <form method="POST" role="form" class="parsley-examples">
                                            <h4 class="header-title mt-0">Cron Job</h4>
                                            <div class="form-group row">
                                                <label for="Name" class="col-md-2 col-form-label">User<span class="text-danger">*</span></label>
                                                <div class="col-md-7">
                                                     <select name="userID" id="userID" class="custom-select mb-2">
                                                     <option selected="">Select User</option>
                                                  {% if users %}
                                                  {% for user in users %}
                                                     <option value="{{ user[0] }}">{{ user[1] }}</option>
                                                    {% endfor %}
                                                    {% endif %}
                                                  </select>

                                                </div>
                                            </div>
                                            <div class="mt-3">
                                            <h4 class="font-size-15 mt-3">Select Time</h4>
                                            <div class="">
                                            <div class="custom-control custom-radio mb-2">
                                                <input type="radio" id="customRadio1" name="CronTime"
                                                    class="custom-control-input" value="oneminute" checked="checked">
                                                <label class="custom-control-label" for="customRadio1">Every Minute</label>
                                            </div>
                                            <div class="custom-control custom-radio mb-2">
                                                <input type="radio" id="customRadio2" value="fiveminute" name="CronTime"
                                                    class="custom-control-input">
                                                <label class="custom-control-label" for="customRadio2">Every 5 Minutes</label>
                                            </div>
                                            <div class="custom-control custom-radio mb-2">
                                                <input type="radio" id="customRadio3" value="everyday" name="CronTime"
                                                    class="custom-control-input">
                                                <label class="custom-control-label" for="customRadio3">Every Day</label>
                                            </div>
                                            <div class="custom-control custom-radio mb-2">
                                                <input type="radio" id="customRadio4" value="everymonth" name="CronTime"
                                                    class="custom-control-input">
                                                <label class="custom-control-label" for="customRadio4">Every Month</label>
                                            </div>
                                        </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="Domain" class="col-md-2 col-form-label">Command to Execute<span class="text-danger">*</span></label>
                                                <div class="col-md-7">
                                                    <input type="text" required="" parsley-type="text" name="Command" class="form-control" id="Command" placeholder="php example.php">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="Domain" class="col-md-2 col-form-label">Log FileName<span class="text-danger">*</span></label>
                                                <div class="col-md-7">
                                                    <input type="text" required="" parsley-type="text" name="logFile" class="form-control" id="logFile" placeholder="execution.log">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-md-8 offset-md-4">
                                                    <button type="submit" class="btn btn-primary mr-1">
                                                        Add Cron Job
                                                    </button>
                                                    <button type="reset"
                                                            class="btn btn-secondary">
                                                        Cancel
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
										</div>
                                </div>
                        </div> <!-- end col -->
                        <div class="">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="header-title mt-0 mb-1">Cron Jobs List</h4>
                                        <p class="sub-header">
                                            Statement
                                        </p>
                                        <table id="basic-datatable" class="table nowrap">
                                            <thead>
                                                <tr>
                                                    <th>User's Name</th>
                                                    <th>User's Email</th>
                                                    <th>Cron Command</th>
                                                    <th>Logs Directory</th>
                                                    <th>Manage</th>
                                                </tr>
                                            </thead>


                                            <tbody>
                                            {% if cronjobs %}
                                                  {% for record in cronjobs %}
                                                    <tr>
                                                        <td>{{record[9]}}</td>
                                                        <td>{{record[7]}}</td>
                                                        <td><a href="">{{record[2]}}</a></td>
                                                        <td>{{record[3]}}</td>
                                                        <td><a href="{{ url_for('routes.admin_deleteJob', JobID=record[0]) }}"><button type="button" class="btn btn-info btn-sm">Delete</button></a></td>
                                                    </tr>
                                                  {% endfor %}
                                            {% endif %}


                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                        </div> <!-- end col -->
                    </div> <!-- container-fluid -->

                </div> <!-- content -->
{% include "layout/adminfooter.html" %}
{% endblock %}