{% include "layout/adminheader.html" %}
{% block body %}
            <!-- ============================================================== -->
            <!-- Start Page Content here -->
            <!-- ============================================================== -->

            <div class="content-page">
                <div class="content">

                    <!-- Start Content-->
                    <div class="container-fluid">
                        <div class="row page-title">
                            <div class="col-md-12">
                                <nav aria-label="breadcrumb" class="float-right mt-1">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="{{ url_for("routes.admin_dashboard") }}">Dashboard</a></li>
                                        <li class="breadcrumb-item"><a href="#">Logs</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">Access Logs</li>
                                    </ol>
                                </nav>
                                <h4 class="mb-1 mt-0">Access Logs</h4>
                            </div>
                        </div>

                        <div class="">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="header-title mt-0 mb-1">Add New User</h4>
                                        <p class="sub-header">
                                            Statement
                                        </p>

                                        <textarea class="terminal mt-1">
                                            Hello
                                        </textarea>
                                    </div>
                                </div>
                        </div> <!-- end col -->
                    </div> <!-- container-fluid -->

                </div> <!-- content -->

{% include "layout/adminfooter.html" %}
{% endblock %}