{% include "layout/adminheader.html" %}
{% block body %}
            <!-- ============================================================== -->
            <!-- Start Page Content here -->
            <!-- ============================================================== -->

            <div class="content-page">
                <div class="content">
                    
                    <!-- Start Content-->
                    <div class="container-fluid">
                        <div class="row page-title">
                            <div class="col-md-12">
                                <nav aria-label="breadcrumb" class="float-right mt-1">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="{{ url_for("routes.admin_dashboard") }}">Dashboard</a></li>
                                        <li class="breadcrumb-item"><a href="#">Logs</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">Error Logs</li>
                                    </ol>
                                </nav>
                                <h4 class="mb-1 mt-0">Error Logs</h4>
                            </div>
                        </div>

                        <div class="">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="header-title mt-0 mb-1">Add New User</h4>
                                        <p class="sub-header">
                                            Statement
                                        </p>
                                            <div class="form-group row">
                                                <label for="Domain" class="col-md-2 col-form-label">Domain<span class="text-danger">*</span></label>
                                                <div class="col-md-7">
                                                     <select name="domainName" id="domainName" class="custom-select mb-2">
                                                     <option value="" selected="">Select Domain</option>
                                                  {% if domains %}
                                                  {% for domain in domains %}
                                                     <option value="{{ domain[1] }}">{{ domain[1] }}</option>
                                                    {% endfor %}
                                                    {% endif %}
                                                  </select>
                                                </div>
                                            </div>
                                        <textarea id="resultLogs" class="terminal mt-1">Select Domain to View Error Logs</textarea>
                                    </div>
                                </div>
                        </div> <!-- end col -->
                    </div> <!-- container-fluid -->

                </div> <!-- content -->
<script>
    setInterval(function(){
        //get_Logs();
        var value = $('#domainName').find(":selected").val();
        if(value!=""){
            get_Logs(value);
        }
        }, 5000);
function get_Logs(domainName){
    $.ajax({
      type:"get",
      url:"/admin/Logs/error_Logs/Ajax?domainName="+domainName,
        success:function(data)
        {
          $("#resultLogs").val(data.data)
        },
        error: function(xhr, status, error) {
        var err = eval("(" + xhr.responseText + ")");
        console.log(err);
        }
    });
}
</script>
{% include "layout/adminfooter.html" %}
{% endblock %}