{% include "layout/adminheader.html" %}
{% block body %}

            <div class="content-page">
                <div class="content">
                    
                    <!-- Start Content-->
                    <div class="container-fluid">
                        <div class="row page-title">
                            <div class="col-md-12">
                                <nav aria-label="breadcrumb" class="float-right mt-1">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="{{url_for("routes.admin_dashboard") }}">Dashboard</a></li>
                                        <li class="breadcrumb-item"><a href="{{url_for("routes.admin_viewUser") }}">Users</a></li>
                                        <li class="breadcrumb-item active">Add new Users</li>
                                    </ol>
                                </nav>
                                <h4 class="mb-1 mt-0">New User</h4>
                            </div>
                        </div>
                            <div class="card">
                                <div class="card-body">
                                    <div class="row align-items-center">
                                        <div class="col-xl-10 col-lg-9">
                                            <div class="mt-4 mt-lg-0">
                                                <h5 class="mt-0 mb-1 text-center font-weight-bold">User Details</h5>
                                                <p class="text-muted mb-2 text-center">The calendar shows the events synced from all
                                                    your linked calendars.
                                                    Click on event to see or edit the details. You can create new event by
                                                    clicking on "Create New event" button or any cell available
                                                    in calendar below.</p>

                                            </div>
                                        </div>
                                    </div>

                                </div> <!-- end card body-->
                            </div> <!-- end card -->
                        </div>
                            <div class="">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="header-title mt-0 mb-1">Add New User</h4>
                                        <p class="sub-header">
                                            Statement
                                        </p>
                                    {% if msg %}
                                    <div class="alert alert-{{ msg.error }} alert-dismissible fade show" role="alert">
                                        {{ msg.message }}
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                </div>
                                {% endif %}
                                        <form method="POST" role="form" class="parsley-examples">
                                            <div class="form-group row">
                                                <label for="Name" class="col-md-2 col-form-label">Name<span class="text-danger">*</span></label>
                                                <div class="col-md-7">
                                                    <input type="Text" required parsley-type="Text" class="form-control"
                                                            id="Name" name="Name" placeholder="User Name">
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label for="Email" class="col-md-2 col-form-label">Email<span class="text-danger">*</span></label>
                                                <div class="col-md-7">
                                                    <input type="email" required parsley-type="email" class="form-control"
                                                            id="Email" name="Email" placeholder="Enter Email">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="Password" class="col-md-2 col-form-label">Password<span class="text-danger">*</span></label>
                                                <div class="col-md-7">
                                                    <input id="Password" name="pass1" type="password" placeholder="Enter Password" required
                                                            class="form-control">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="confirmPassword" class="col-md-2 col-form-label">Confirm Password
                                                    <span class="text-danger">*</span></label>
                                                <div class="col-md-7">
                                                    <input data-parsley-equalto="#Password" type="password" required
                                                            placeholder="ReType Password" name="pass2" class="form-control" id="confirmPassword">
                                                </div>
                                            </div>
                                                <div class="form-group row">
                                                <label for="confirmPassword" class="col-md-2 col-form-label">Select Package
                                                    <span class="text-danger">*</span></label>
                                                <div class="col-md-7">
                                                  <select name="packageID" class="custom-select mb-2">
                                                     <option selected="">Select Package</option>
                                                  {% if results %}
                                                  {% for record in results %}
                                                     <option value="{{ record[0] }}">{{ record[1] }}</option>
                                                    {% endfor %}
                                                    {% endif %}
                                                  </select>
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <div class="col-md-8 offset-md-4">
                                                    <button type="submit" class="btn btn-primary mr-1">
                                                        Add User
                                                    </button>
                                                    <button type="reset"
                                                            class="btn btn-secondary">
                                                        Cancel
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div> <!-- end card -->

                            </div> <!-- end col -->
                        </div>
                        <!-- end row -->



{% include "layout/adminfooter.html" %}
{% endblock %}