{% include "layout/adminheader.html" %}
{% block body %}

            <div class="content-page">
                <div class="content">
                    
                    <!-- Start Content-->
                    <div class="container-fluid">
                        <div class="row page-title">
                            <div class="col-md-12">
                                <nav aria-label="breadcrumb" class="float-right mt-1">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="{{url_for("routes.admin_dashboard") }}">Dashboard</a></li>
                                        <li class="breadcrumb-item"><a href="{{url_for("routes.admin_viewUser") }}">Users</a></li>
                                        <li class="breadcrumb-item active">Modify</li>
                                    </ol>
                                </nav>
                                <h4 class="mb-1 mt-0">Update User Details</h4>
                            </div>
                        </div>
                        {% for message in get_flashed_messages() %}
                                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                        {{ message }}
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                </div>
                        {% endfor %}

                            <div class="">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="header-title mt-0 mb-1">Modify user's Details</h4>
                                        <p class="sub-header">
                                            Fill the required form and click the Update button to Update the User Information.
                                        </p>
    
                                        <form role="form" method="POST" class="parsley-examples">
                                                    <input type="hidden" name="userID" value="{{ user[0] }}">
                                            <div class="form-group row">
                                                <label for="Name" class="col-md-2 col-form-label">Update Name<span class="text-danger">*</span></label>
                                                <div class="col-md-7">
                                                    <input type="Text" required parsley-type="Text" class="form-control"
                                                            id="Name" name="Name" value="{{ user[4] }}" placeholder="User Name">
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label for="Email" class="col-md-2 col-form-label">Update Email<span class="text-danger">*</span></label>
                                                <div class="col-md-7">
                                                    <input type="email" required parsley-type="email" class="form-control"
                                                            id="Email" name="Email" value="{{ user[2] }}" placeholder="Enter Email">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="Password" class="col-md-2 col-form-label">Update Password<span class="text-danger">*</span></label>
                                                <div class="col-md-7">
                                                    <input id="Password" name="password" type="password" placeholder="Enter Password" required
                                                            class="form-control">
                                                </div>
                                            </div>
                                                <div class="form-group row">
                                                <label for="confirmPassword" class="col-md-2 col-form-label">Update User
                                                    <span class="text-danger">*</span></label>
                                                <div class="col-md-7">
                                                  <select name="packageID" class="custom-select mb-2">
                                                     <option selected="">Select Package</option>
                                                  {% if results %}
                                                  {% for record in results %}
                                                     <option value="{{ record[0] }}">{{ record[1] }}</option>
                                                    {% endfor %}
                                                    {% endif %}
                                                  </select>
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <div class="col-md-8 offset-md-4">
                                                    <button type="submit" class="btn btn-primary mr-1">
                                                        Update User
                                                    </button>
                                                    <button type="reset"
                                                            class="btn btn-secondary">
                                                        Cancel
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div> <!-- end card -->

                            </div> <!-- end col -->
                        </div>
                        <!-- end row -->



{% include "layout/adminfooter.html" %}
{% endblock %}