{% include "layout/adminheader.html" %}
{% block body %}
    <!-- ============================================================== -->
            <!-- Start Page Content here -->
            <!-- ============================================================== -->

            <div class="content-page">
                <div class="content">

                    <!-- Start Content-->
                    <div class="container-fluid">
                        <div class="row page-title">
                            <div class="col-md-12">
                                <nav aria-label="breadcrumb" class="float-right mt-1">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="{{ url_for("routes.admin_dashboard") }}">Dashboard</a></li>
                                        <li class="breadcrumb-item"><a href="{{url_for("routes.admin_viewUser") }}">Users</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">View User</li>
                                    </ol>
                                </nav>
                                <h4 class="mb-1 mt-0"> Users List</h4>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="header-title mt-0 mb-1">Table View</h4>
                                        <p class="sub-header">
                                            DataTables has most features enabled by default, so all you need to do to use it with your own tables is to call the construction
                                            function:
                                            <code>$().DataTable();</code>.
                                        </p>

                                        <table id="basic-datatable" class="table nowrap">
                                            <thead>
                                                <tr>
                                                    <th>User's Name</th>
                                                    <th>User ServName</th>
                                                    <th>User's Email</th>
                                                    <th>Package Name</th>
                                                    <th>Storage limit</th>
                                                    <th>MySQL Databases</th>
                                                    <th>Manage</th>
                                                </tr>
                                            </thead>


                                            <tbody>
                                            {% if results %}
                                                  {% for record in results %}
                                                      {% if record[7]==1 %}
                                                          {% set msg = "Yes" %}
                                                          {% set badge = "success" %}
                                                      {% else %}
                                                          {% set msg = "No" %}
                                                          {% set badge = "danger" %}
                                                      {% endif %}
                                                    <tr>
                                                        <td>{{record[4]}}</td>
                                                        <td>{{record[1]}}</td>
                                                        <td>{{record[2]}}</td>
                                                        <td>{{record[12]}}</td>
                                                        <td>{{record[20]}}</td>
                                                        <td>{{record[18]}}</td>
                                                        <td><a href="{{ url_for('routes.admin_updateUser', userID=record[0]) }}"><button type="button" class="btn btn-info btn-sm">Edit</button></a> <a href="{{ url_for('routes.admin_deleteUser', userID=record[0]) }}"><button type="button" class="btn btn-danger btn-sm">Delete</button></a></td>
                                                    </tr>
                                                  {% endfor %}
                                            {% endif %}


                                            </tbody>
                                        </table>

                                    </div> <!-- end card body-->
                                </div> <!-- end card -->
                            </div><!-- end col-->
                        </div>
                        <!-- end row-->
                        <!-- end row-->
                    </div> <!-- container-fluid -->

                </div> <!-- content -->
{% include "layout/adminfooter.html" %}
{% endblock %}
