{% include "layout/header.html" %}
{% block body %}
    <!-- ============================================================== -->
            <!-- Start Page Content here -->
            <!-- ============================================================== -->

            <div class="content-page">
                <div class="content">

                    <!-- Start Content-->
                    <div class="container-fluid">
                        <div class="row page-title">
                            <div class="col-md-12">
                                <nav aria-label="breadcrumb" class="float-right mt-1">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="{{ url_for("routes.user_dashboard") }}">Dashboard</a></li>
                                        <li class="breadcrumb-item"><a href="{{ url_for("routes.user_viewDomains") }}">Notification</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">Notification List</li>
                                    </ol>
                                </nav>
                                <h4 class="mb-1 mt-0"> Notification List</h4>
                            </div>
                        </div>
                        {% for message in get_flashed_messages() %}
                                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                        {{ message }}
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                </div>
                        {% endfor %}
                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="header-title mt-0 mb-1">Notification List</h4>
                                        <p class="sub-header">
                                            Use this to View, Delete, and Suspend/Unsuspend Domain List.
                                        </p>

                                        <table id="basic-datatable" class="table nowrap">
                                            <thead>
                                                <tr>
                                                    <th>Notification ID</th>
                                                    <th>Notification Title</th>
                                                    <th>Notification Message</th>
                                                    <th>Notification Date</th>
                                                    <th>Manage</th>
                                                </tr>
                                            </thead>


                                            <tbody>
                                            {% if results %}
                                                  {% for record in results %}
                                                      {{ record }}
                                                    <tr>
                                                        <td>{{ record[0] }}</td>
                                                        <td>{{ record[2] }}</td>
                                                        <td>{{ record[3] }}</td>
                                                        <td>{{record[4]}}</td>
                                                        <td><a href="{{ url_for('routes.user_deleteDomain', domainID=record[0]) }}" class="custom-confirm-link" data-confirmation="Are you sure you want to remove this?"><button type="button" class="btn btn-info btn-sm">Delete</button></a></td>
                                                    </tr>
                                                  {% endfor %}
                                            {% endif %}


                                            </tbody>
                                        </table>

                                    </div> <!-- end card body-->
                                </div> <!-- end card -->
                            </div><!-- end col-->
                        </div>
                        <!-- end row-->
                        <!-- end row-->
                    </div> <!-- container-fluid -->

                </div> <!-- content -->
{% include "layout/footer.html" %}
{% endblock %}
